body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    border: 5px solid yellow;
}

.card-container {
    display: flex;
    width: 50%;
}

.card {
    padding: 20px;
}

.card-sedans {
    background-color: hsl(31, 77%, 52%);
}

.card-suvs {
    background-color: hsl(184, 100%, 22%);
}

.card-luxury {
    background-color: hsl(179, 100%, 13%);
}

.card-title {
    font-family: 'Big Shoulders Display', cursive;
}

.card-description {
    color: sla(0, 0%, 100%, 0.75);
}

.card-button {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 20px;
}

/* Provisional lines to see containers */

body {
    border: 1px solid green;
}

svg {
    border: 1px solid orange;
}
div {
    border: 1px solid red;
}
p {
    border: 1px solid black;
}
h2 {
    border: 1px solid violet;
}
button {
    border: 1px solid blue;
}

footer {
    border: 1px solid red;
}

/* Atribution */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }